.backgroundSection {
    height: 22vh;
    background: url('/post-bg.png') center/cover no-repeat fixed;
    width:100vw;
    margin-top: 20vh;
}

.postContainer {
    min-height: 60vh;
    width:100vw;
    background: #f8f8f8;
    display:grid;
    padding: 0 15vw 5em 15vw;
    grid-template-columns: 3fr 1fr;
    gap: 3em;
}

.post {
    width:100%;
    height:100%;
    background: #fff;
    box-shadow: 10px 10px 20px rgba(136,136,136, .15);
    margin-top: -5vh;
    border-radius: 20px;
    min-height: 75vh;
    padding: 3em 2em 8em 3em;
}

.postTitle {
    color: var(--dark-grey);
    font-size: 2.25rem;
}

.postTags {
    display:flex;
    list-style:none;
    margin: 2em 0;
}

.postTag {
    padding: 8px 12px;
    background: var(--primary-color);
    color: #fff;
    margin: 0 .65em;
    border-radius: 5px;
}

.postTag:first-of-type {
    margin-left:0;
}

.authorParagraph {
    color: var(--light-grey);
    font-size: 1.1rem;
    display:flex;
    align-items:center;
}

.authorImg {
    width:25px;
    height:25px;
    margin: 0 .5em;
}

.bold {
    margin-left:.4em;
    font-weight:700;
}

.bold:first-of-type {
    margin-left:0;
    margin-right: .4em;
}

.postContent {
    margin-top: 2em;
    font-size: 1.1rem;   
    width:80%;
    line-height: 1.5em;
    color: var(--dark-grey);
    font-weight: 300;
}

.postContent ul {
    margin-left: 1em;
}

.postContent img {
    margin: 1em 0;
}

.postContent h2 {
    margin-top: 1em;
}

.postContent code {
    background: #f1f1f1;
    padding: 2px 5px;
}

.postContent blockquote {
    border-left: 3px solid var(--light-grey);
    font-family: serif;
    padding-left:20px;
    color: var(--light-grey);
}